.testimonials-section {
    width: 100%;
    .slider_main_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        .viewport {
            overflow: hidden;
            padding: 20px; 
            .track {
                display: flex;
                transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                will-change: transform;
                .card-slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 12px;
                    background-color: #fff;
                    border: 2px solid #262626;
                    box-shadow: 6px 6px 0px 0px #1E1E1E;
                    padding: 40px ;
                    text-align: center;
                    min-width: 0; 
                    .testimonial-text {
                    font-size: 20px; 
                    line-height: 1.6;
                        }
                    }
                }
        }
        .nav-btn {
            border-radius: 8px;
            padding: 12px;
            background-color: #FFFFFF;
            border: 2px solid #333333;
            cursor: pointer;
            flex-shrink: 0;
            transition: 0.3s;
            &:hover {
                background-color: #333;
                color: #fff;
            }
        }

    }
}
@media screen and (max-width: 1440px) {
    .testimonials-section {
    .slider_main_container {
        .viewport {
            .track {
                .card-slide {
                    .testimonial-text {
                    font-size: 20px; 
                    line-height: 1.6;
                    word-wrap: break-word;
                        }
                    }
                }
        }
    }
}
}
@media screen and (max-width: 992px) {
    .testimonials-section {
    .slider_main_container {
                    position: relative;

        display: flex;
        gap: 40px;
        .viewport {
            .track {
                .card-slide {
                    .testimonial-text {
                    font-size: 16px; 
                        }
                    }
                }
        }
        .nav-btn {
            position: absolute;
            top:100%;
        }
        .left  {
            left: 35%;
        }
        .right{
            right: 35%;
        }

    }
}
}















