
.slider_container {
    display: flex;
    align-items: center;
    .nav-btn{
        border-radius: 8px;
        padding: 12px;
        background-color: #FFFFFF;
        border: 2px solid #333333;
        
    }
    .viewport {
        margin: 30px;
        overflow: hidden;
        padding: 20px;
        .track {
        display: flex;
        transition: transform 0.4s ease;
        }
    }
    .card-slide {
        flex: 0 0 calc(100% / 3);
        box-sizing: border-box;
        padding: 50px;
        border-radius: 12px;
        background-color: #fff;
        border: 2px solid #262626;
        box-shadow: 6px 6px 0px 2px #1E1E1E;
        text-align: center;
        }
}