.hero{
    padding: 80px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    img{
        max-width: 765px;
    }
}
@media screen and (max-width:1440px){
    .hero{
        padding: 60px 80px;
        gap: 50px;
        img{
        max-width: 615px;
        }
    }
}
@media screen and (max-width:992px){
    .hero{
        flex-direction: column;
        gap: 40px;
        padding: 50px 16px;
        text-align: center;
        img{
            max-width: 356px;
        }
    }
}