.first-about-firstfooter{
    .logofooter{
        padding-bottom: 20px;
    }
    .desfirstfooter{
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #4C4C4D;
        max-width: 500px;
    }
    .contact-information{
        padding-top: 24px;
        .contact-item{
            display: flex;
            align-items: center;
            gap: 6px;
            padding-bottom: 24px;
            .iconcotact{
                border-radius: 6px;
                padding: 8px;
                background-color: #FFF5F0;
                border: 2px solid #262626;
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .first-about-firstfooter{
    .logofooter{
        padding-bottom: 16px;
    }
    .desfirstfooter{
        font-size: 16px;
    }
    .contact-information{
        padding-top: 40px;
    }
}
}
@media screen and (max-width: 992px) {
    .first-about-firstfooter{
        display: flex;
        flex-direction: column;
        text-align: center;
        .logofooter{
        max-width: 200px;
        margin: 0 auto;
    }
    .contact-information{
        padding-top: 24px;
        .contact-item{
            .iconcotact{
                padding: 6px;
            }
        }
    }
}
}