
    .card_share{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        img {
            border-radius: 8px;
            padding: 20px;
            background-color: #FFDECC;
            border: 2px solid #262626;
            position: absolute;
            top: -30px;
            left: 30px;
            }
        .about_card{
            flex: 1;
            padding: 80px 50px 50px 50px;
            border-radius: 10px;
            background-color: #FFFFFF;
            border: 2px solid #262626;
            box-shadow: 4px 4px 0px 2px #1E1E1E;
            
            h3{
                font-family: Raleway;
                font-weight: 700;
                font-size: 28px;
                padding-bottom: 20px;
            }
            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
            }
        }
        
    }
@media screen and (max-width: 1440px) {
        .card_share{
            img{
                padding: 16px;
            }
            .about_card{
                padding: 60px 40px 40px 40px;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
@media screen and (max-width: 992px) {
        .card_share{
            .about_card{
                padding: 50px 40px;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
