.contaner-share{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 68px 40px;
    align-items: stretch;
    }
@media screen and (max-width: 992px) {
        .contaner-share{
        grid-template-columns: repeat(1,1fr);
    }
}
