.header-pages {
    margin: 60px 50px;
    border-radius: 10px;
    padding: 150px 120px;
    background-color: #FFFFFF;
    border: 2px solid #262626;
    box-shadow: 6px 6px 0px 1px #1E1E1E;
    position: relative;
    .img-header{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 200px;
    }
    .about-header-pages {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        .sub-Theader{
            width: fit-content;
            margin-bottom: 14px;
            border-radius: 6px;
            padding: 10px 20px;
            border: 2px solid #262626;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
        }
        .title-pages{
            font-family: Raleway;
            font-weight: 700;
            font-size: 48px;
            line-height: 130%;
            color:  #1A1A1A;
        }
        .des-header{
            max-width: 50%;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #333333;
        }
    }
}

@media screen and (max-width: 1440px) {
    .header-pages {
    margin: 40px 80px;
    padding: 100px 80px;
    .img-header{
        max-width: 137px;
    }
    .about-header-pages {
        .sub-Theader{
            margin-bottom: 10px;
            padding: 8px 16px;
            font-size: 16px;
        }
        .title-pages{
            font-size: 38px;
        }
        .des-header{
            font-size: 16px;
        }
    }
}
}
@media screen and (max-width: 992px) {
    .header-pages {
        margin: 40px 16px;
        padding: 50px 30px;
        .img-header{
            max-width: 100px;
        }
        .about-header-pages {
            flex-direction: column;
            gap: 20px;
            text-align: center;
            .sub-Theader{
                margin: 0 auto;
            }
            .title-pages{
                padding-top: 10px;
                font-size: 28px;
            }
            .des-header{
                max-width:100%;
            }
        }
    }
}
