.sec-about-first{
    display: flex;
    align-items: start;
    gap: 30px;
    .footer-column{
        list-style: none;
        .title{
            padding-bottom: 24px;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #262626;
        }
        .itemfooter{
            padding-bottom: 14px;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #333333;
        }
    }
}
@media screen and (max-width: 1440px) {
    .sec-about-first{
    .footer-column{
        .title{
            padding-bottom: 24px;
        }
    }
}
}
@media screen and (max-width: 992px) {
    .sec-about-first{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    .footer-column{
        .title{
            padding-bottom: 20px;
        }
    }
}
}